<p id="notice"><%= notice %></p>

<h1>Featured Items</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @featured_items.each do |featured_item| %>
      <tr>
        <td><%= featured_item.image %></td>
        <td><%= featured_item.subtitle %></td>
        <td><%= featured_item.body %></td>
        <td><%= link_to 'Show', featured_item %></td>
        <td><%= link_to 'Edit', edit_featured_item_path(featured_item) %></td>
        <td><%= link_to 'Destroy', featured_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Featured Item', new_featured_item_path %>
